//main: ../styles.less

.burger
{
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
  border: 0;

  display: none;
  @media @mobile
  {
    display: block;
  }
}

.burger__icon
{
  display: block;
  max-width: 100%;
  height: auto;
}
