// main: ../styles.less

.intro
{
  @media @mobile
  {
    margin-top: 100px;
  }
}
.intro__inner
{
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;

  background: url("../images/symbols.png") right bottom no-repeat;
  border-bottom: 1px solid fade(gray, 30%);

  @media @tablet
  {
    padding-top: 60px;
    padding-bottom: 80px;
    background-size: 400px auto;
  }

  @media @mobile
  {
    padding-top: 40px;
    padding-bottom: 20px;
    background: none;
    text-align: center;
  }

}

.intro__content
{
    width: 50%;

    @media @mobile-sm
    {
      width: 100%;
    }
}
.intro__subtitle
{
  font-weight: 200;
}
.intro__title
{
  font-weight: 700;
  font-size: 36px;
}
.intro__text
{
  margin-bottom: 30px;
}

.intro__photo
{
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;

  @media @tablet
  {
    width: 350px;
  }
  @media @mobile
  {
    width: 270px;
  }
  @media @mobile-sm
  {
    display: none;
  }
}
