// main: ../styles.less
.news
{
  margin-top: 180px;
  margin-bottom: 120px;
  @media @tablet
  {
    margin-top: 160px;
    margin-bottom: 50px;
  }
}

.news__header
{
  text-align: center;
  margin-bottom: 45px;

  @media @mobile
  {
    margin-bottom: 20px;
  }
}
.news__title
{
  font-size: 45px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;

  @media @mobile
  {
    font-size: 30px;
  }
}

.news__text
{
  font-size: 18px;
  color: #8c8c8d;
  font-weight: 300;
}

.news__footer
{
  text-align: right;
  margin: 0 15px;

  @media @mobile
  {
    text-align: center;
  }
}
.news__footer-link
{
  font-size: 14px;
  color: gray;
  transition: text-decoration .2s linear;

  &:hover
  {
    text-decoration: none;
  }
}
